transformers==4.25.1
numpy==1.24.4
diffusers==0.28.0
torch==2.2.1
pandas==2.0.3
pillow==10.3.0
matplotlib==3.7.5
torchvision==0.17.1
scikit-learn==1.3.2
timm==0.9.16
pytorch_lightning==2.2.1
lightning-utilities==0.11.6
colorlog==6.8.2
torchmetrics==1.4.1
opencv-python==4.9.0.80
sympy==1.2
accelerate==0.27.2
openai-clip